<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Scenairo" verbose="1" parallel="false" >
    <test  name="valid Scenairo" parallel="false">
        <groups>
            <run>
                <include name="includeXmlSceniaro"/>
                <exclude name="excludeXmlSceniaro"/>
            </run>
        </groups>
        <classes>
            <class name="C1_CreateAnAccount.CreateAnAccountTest"/>
            <class name="tests.SignInTest"/>
            <class name="tests.HomePageTest"/>
            <class name="tests.SelectedItemTest"/>
            <class name="tests.CartPageTest"/>
            <class name="tests.ShippingPageTest"/>
            <class name="tests.ReviewAndPaymentsTest"/>
            <class name="tests.OrderHistoryTest"/>
            <class name="tests.Signout"/>
        </classes>
    </test>
</suite>
