<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Scenairo" verbose="1" parallel="false" >
    <test  name="valid Scenairo" parallel="false">
        <groups>
            <run>
                <include name="includeXmlSceniaro"/>
                <exclude name="excludeXmlSceniaro"/>
            </run>
        </groups>
        <classes>
            <class name="C2_CreateAnAccount.CreateAnAccountTest"/>
            <class name="C3_SignIn.SignInTest"/>
            <class name="C4_HomePage.HomePageTest"/>
            <class name="C5_SelectItem.SelectedItemTest"/>
            <class name="C6_CartPage.CartPageTest"/>
            <class name="C7_ShippingPage.ShippingPageTest"/>
            <class name="C8_ReviewAndPayments.ReviewAndPaymentsTest"/>
            <class name="C9_OrderHistory.OrderHistoryTest"/>
            <class name="C10_SignOut.Signout"/>
        </classes>
    </test>
</suite>
